html {
    background-color: hsl(206, 47%, 93%);
    box-sizing: border-box;
    font-family: 'Karla';
}
*, *::before, *::after {
    box-sizing: border-box;
}
ul {
    padding-left: 0px;
    list-style: none;
}
li {
    padding: 2px;
    color: rgba(255, 255, 255, 0.6);
}
#title {
    color: hsl(179, 62%, 43%);
    margin: auto;
    
}
#button {
	font-weight:bold;
    font-size: 1.1rem;
	padding:12px 45px;
    width: 100%;
    margin-top: 10px;
	text-decoration:none;
    cursor:pointer;
	color:#ffffff;
    border-radius:4px;
    box-shadow: 0px 8px 17px -7px #3e7327;
    border: none;
    background-color: #bfdf32;
}
#sub-title {
    color: hsl(71, 73%, 54%);
    margin-top: 5%;
}
#p1,#p2 {
    color: hsl(218, 22%, 67%);
    font-weight: 100;
    margin: 0px;
    margin-top: 8px;
}
.container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 30px -20px;
}
.top-bar {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 50%;
    width: 100%;
    background-color: white;
}
.bottom {
    height: 50%;
    width: 100%;
    display: inline-block;
}
.bottom-left {
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    height: 100%;
    width: 100%;
    background-color: hsl(179, 62%, 43%);
}
.price-container {
    color: white;
}
.price {
    font-size: 2.1rem;
    font-weight: 700;
    display: inline-block;
}
.price-f {
    display: inline-block;
    position: relative;
    opacity: 0.5;
    top: -6px;
    margin-left: 5px;
}
.bottom-right {
    padding: 20px;
    padding-left: 45px;
    padding-right: 45px;
    height: 100%;
    width: 100%;
    background-color: hsl(179, 47%, 52%);
}

@media (min-width: 576px){
    .container {
        width: 700px;
        height: 500px;
        margin: 5% auto;
    }
    .bottom-left, .bottom-right {
        width: 60%;
    }
    .bottom {
        display: flex;
    }
    
}